# Transformers and NLP
transformers
datasets
evaluate
sentencepiece
tokenizers
torch
streamlit

# TensorFlow
tensorflow

# Data Handling and Preprocessing
pandas
numpy
scikit-learn
nltk

# Evaluation Metrics
rouge-score
sacrebleu
bert-score
