
datasets
evaluate
sentencepiece
tokenizers
torch
streamlit

tensorflow==2.12.0
keras==2.12.0
transformers==4.34.0



# Data Handling and Preprocessing
pandas
numpy
scikit-learn
nltk

# Evaluation Metrics
rouge-score
sacrebleu
bert-score
